# Copy this to .env and fill in your values
# Never commit .env to GitHub

MLFLOW_TRACKING_URI=https://dagshub.com/jani2904-sys/NAION-Risk-Analyzer.mlflow
MLFLOW_TRACKING_USERNAME=jani2904-sys
MLFLOW_TRACKING_PASSWORD=c740970de73e4352b22d1842e68ec6e2e3723c9b

YOLO_MODEL_PATH=weights/yolov8n_disc_localizer.pt
SEG_MODEL_NAME=UNet_EfficientNetB4_OpticDisc
REFUGE2_BASE=/path/to/your/local/REFUGE2
